{{ $Deliver := .Deliver }}
{{ $isHome := .isHome }}
<div class="post-meta">
    {{ if $Deliver.Site.Params.displayPostAuthor }}
        {{ $icon := replace (index $Deliver.Site.Data.SVG $Deliver.Site.Params.postAuthorIcon) "icon" "icon post-meta-icon" | safeHTML }}
        <span class="post-meta-item user"><a href={{ "/about" | relURL}} rel="author">{{ $icon }}&nbsp;{{ $Deliver.Site.Params.name }}</a></span>
    {{ end }}

    {{ if $Deliver.Site.Params.displayCategory }}
        {{ $icon := replace (index $Deliver.Site.Data.SVG $Deliver.Site.Params.categoryIcon) "icon" "icon post-meta-icon" | safeHTML }}
            {{ with $Deliver.Params.categories }}
                {{ $length := sub (len .) 1 }}
                <span class="post-meta-item folder">
                    {{- printf `%s&nbsp;` $icon | safeHTML -}}
                    {{- range $index, $category := . -}}
                        {{- $url := urls.Parse ($category | urlize) -}}
                        {{- $path := $url.Path -}}
                        {{- if lt $index $length -}}
                            {{- $Deliver.Scratch.Set "delimiter" ($Deliver.Site.Params.categoryDelimiter | default "-") -}}
                        {{- else -}}
                            {{- $Deliver.Scratch.Set "delimiter" "" -}}
                        {{- end -}}
                        {{- $delimiter := ($Deliver.Scratch.Get "delimiter") -}}
                        {{- with $Deliver.Site.GetPage (printf `/categories/%s` $path) -}}
                            {{- printf `<a href="%s" class="category-link">%s</a>%s` .RelPermalink (.LinkTitle | default $category) $delimiter | safeHTML -}}
                        {{- end -}}
                    {{- end -}}
                </span>
    {{ end }}
{{ end }}


    {{ if and $Deliver.Site.Params.displayPublishedDate (not $Deliver.PublishDate.IsZero) }}
        {{ $icon := replace (index $Deliver.Site.Data.SVG $Deliver.Site.Params.publishedDateIcon) "icon" "icon post-meta-icon" }}
        {{ printf `<span class="post-meta-item published"> <time datetime="%s">%s&nbsp;%s</time></span>` ($Deliver.PublishDate.Format "2006-01-02T15:04:05-07:00") $icon ($Deliver.PublishDate.Format $Deliver.Site.Params.postMetaDateFormat) | safeHTML }}
    {{ end }}
    {{ if $Deliver.Site.Params.displayReadingTime }}
        {{ $icon := replace (index $Deliver.Site.Data.SVG $Deliver.Site.Params.readingTimeIcon) "icon" "icon post-meta-icon" | safeHTML }}
        <span class="post-meta-item published">{{ $icon }}&nbsp;{{ $Deliver.ReadingTime }} mins</span>
    {{ end }}
</div>