{{ if and .Site.Params.enablePostShare (.Params.share | default .Site.Params.displayPostShare) }}

    {{- partial "utils/summary.html" . -}}
    {{- $description := .Description | default (.Scratch.Get "summary") | default .Site.Params.siteDescription | plainify -}}

    {{- partial "utils/images.html" . -}}
    {{- $images := .Scratch.Get "images" -}}
    {{- $images := .Scratch.Add "images" (slice (.Site.Params.siteLogo | absURL)) -}}
    {{- $images := (index (.Scratch.Get "images") 0) -}}

    {{- $hashtags := newScratch -}}
    {{- with .Params.tags -}}
        {{- range . -}}
            {{- $tag := . -}}
            {{- $url := urls.Parse (. | urlize) -}}
            {{- $path := $url.Path -}}
            {{- with $.Site.GetPage (printf `/tags/%s` $path) -}}
                {{- $hashtags.Add "tags" (replace (.LinkTitle | default $tag) " " "") -}}
            {{- end -}}
            {{- $hashtags.Add "tags" "," -}}
        {{- end -}}
    {{- end -}}
    {{- $hashtags.Set "firsttag" "%23" -}}
    {{- $hashtags.Add "firsttag" (index (split ($hashtags.Get "tags") ",") 0) -}}

    <div class="post-share">

        {{ if .Site.Params.displayShareOnText }}
            <div class="share-text">Share On</div>
        {{ end }}

        <div class="share-items">

            {{ if .Site.Params.shareOnTwitter }}
                {{ $icon := (replace .Site.Data.SVG.twitter "icon" "icon twitter-icon") }}
                <div class="share-item twitter">
                    {{ $url := (printf `https://twitter.com/share?url=%s&text=%s&hashtags=%s&via=%s` .Permalink .Title ($hashtags.Get "tags" | default "") .Site.Params.siteTwitter) }}
                    <a href="{{ $url | safeURL }}" title="Share On Twitter" target="_blank" rel="noopener">
                        {{- $icon | safeHTML -}}
                    </a>
                </div>
            {{ end }}

            {{ if .Site.Params.shareOnFacebook }}
                {{ $icon := (replace .Site.Data.SVG.facebook "icon" "icon facebook-icon") }}
                <div class="share-item facebook">
                    {{ $url := (printf `https://www.facebook.com/sharer/sharer.php?u=%s&hashtag=%s` .Permalink ($hashtags.Get "firsttag" | default "")) }}
                    <a href="{{ $url | safeURL }}" title="{{ i18n "shareOnTitle" }}{{ i18n "facebook" }}" target="_blank" rel="noopener">
                        {{- $icon | safeHTML -}}
                    </a>
                </div>
            {{ end }}

            {{ if .Site.Params.shareOnLinkedIn }}
                {{ $icon := (replace .Site.Data.SVG.linkedin "icon" "icon linkedin-icon") }}
                <div class="share-item linkedin">
                    {{ $url := (printf `https://www.linkedin.com/shareArticle?mini=true&url=%s&title=%s&summary=%s&source=%s` .Permalink .Title $description .Site.Title) }}
                    <a href="{{ $url | safeURL }}" title="{{ i18n "shareOnTitle" }}{{ i18n "linkedin" }}" target="_blank" rel="noopener">
                        {{- $icon | safeHTML -}}
                    </a>
                </div>
            {{ end }}

            {{ if .Site.Params.shareOnPinterest }}
                {{ $icon := (replace .Site.Data.SVG.pinterest "icon" "icon pinterest-icon") }}
                <div class="share-item pinterest">
                    {{ $url := (printf `https://pinterest.com/pin/create/button/?url=&media={{ .Params.image }}&description=')` .Permalink .Title) }}
                    <a data-pin-do="embedPin" href="{{ $url | safeURL }}" title="Share On Pinterest" target="_blank" rel="noopener" onclick="window.open'({{ $url | safeURL }});'">
                        {{- $icon | safeHTML -}}
                    </a>
                </div>
            {{ end }}

            {{ if .Site.Params.followOnInstagram }}
                {{ $icon := (replace .Site.Data.SVG.instagram "icon" "icon instagram-icon") }}
                <div class="share-item instagram">
                    {{ $url := (printf `https://www.instagram.com/matita_thoughts`) }}
                    <a href="{{ $url | safeURL }}" title="Follow On Instagram" target="_blank" rel="noopener">
                        {{- $icon | safeHTML -}}
                    </a>
                </div>
            {{ end }}
        </div>

    </div>

{{ end }}
