html { font-size: 15px; }

body { display: grid;
       min-height: 100vh;
       font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
       background-color: #fffff8;
       color: #111;
       max-width: 1400px;
       counter-reset: sidenote-counter; }

h1 { font-weight: 400;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3.2rem;
     line-height: 1; }

h2 { font-style: italic;
     font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 1.4rem;
     font-size: 2.2rem;
     line-height: 1; }

h3 { font-style: italic;
     font-weight: 400;
     font-size: 1.7rem;
     margin-top: 2rem;
     margin-bottom: 1.4rem;
     line-height: 1; }

hr { display: block;
     height: 1px;
     width: 55%;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0; }

p.subtitle { font-style: italic;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }

.numeral { font-family: et-book-roman-old-style; }

.danger { color: red; }

article { position: relative;
          padding: 5rem 0rem; }

section { padding-top: 1rem;
          padding-bottom: 1rem; }

p, ol, ul { font-size: 1.4rem;
            line-height: 2rem; }

p { margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; 
}

header {
    overflow: hidden;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
}

header img {
     max-width:100%;
}

/* Centered text */
.centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

/* Container holding the image and the text */
.container {
     position: relative;
     text-align: center;
     color: beige;
}

@media all and (min-width: 50px)   {  h1  { font-size:0.1em;  } }
@media all and (min-width: 100px)  {  h1  { font-size:0.2em;  } }
@media all and (min-width: 200px)  {  h1  { font-size:0.4em;  } }
@media all and (min-width: 300px)  {  h1  { font-size:0.6em;  } }
@media all and (min-width: 400px)  {  h1  { font-size:0.8em;  } }
@media all and (min-width: 500px)  {  h1  { font-size:1.0em;  } }
@media all and (min-width: 600px)  {  h1  { font-size:1.2em;  } }
@media all and (min-width: 700px)  {  h1  { font-size:1.4em;  } }
@media all and (min-width: 800px)  {  h1  { font-size:1.6em;  } }
@media all and (min-width: 900px)  {  h1  { font-size:1.8em;  } }
@media all and (min-width: 1000px) {  h1  { font-size:2.0em;  } }
@media all and (min-width: 1100px) {  h1  { font-size:2.2em;  } }
@media all and (min-width: 1200px) {  h1  { font-size:2.4em;  } }
@media all and (min-width: 1300px) {  h1  { font-size:2.6em;  } }
@media all and (min-width: 1400px) {  h1  { font-size:2.8em;  } }
@media all and (min-width: 1500px) {  h1  { font-size:3.0em;  } }
@media all and (min-width: 1500px) {  h1  { font-size:3.2em;  } }
@media all and (min-width: 1600px) {  h1  { font-size:3.4em;  } }
@media all and (min-width: 1700px) {  h1  { font-size:3.6em;  } }

/* Single */

.single .main-inner{width:32em}
.main-inner{background:rgba(0,0,0,0.25);min-height:100%;min-width:100%;position:absolute;z-index:3}
.main{padding:2em 1em 15em;display:block}
.main{padding-top:7em}
.main-inner{margin:0 auto;display:block}
article.content.post.home{margin-top:5em}


/* Post */
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{font-family:"Comfortaa",sans-serif}
.post-body p{text-indent:2em;margin:0}[data-indent="true"] 
.post-body .caption{text-indent:0;margin:0 0 1em}[data-indent="true"] 
.post-body blockquote{margin:1em 0;padding:0;border:none}[data-indent="true"] 
.post-body img,[data-indent="true"] 
.post-body video{margin:1em auto}[data-indent="true"] 
.post-body table{margin:1em 0}[data-indent="true"] 
.post-body pre,[data-indent="true"] 
.post-body .highlight{margin:1rem 0}[data-indent="true"] 
.post-body h1,[data-indent="true"] 
.post-body h2,[data-indent="true"] 
.post-body h3,[data-indent="true"] 
.post-body h4,[data-indent="true"] 
.post-body h5,[data-indent="true"] 
.post-body h6{text-align:center}[data-indent="true"] 
.post-body .anchor-link{position:relative;transform:none;display:block;float:none}[data-indent="true"] 
.post-body ol,[data-indent="true"] .post-body ul{margin:0;padding-left:4em}[data-indent="true"] 
.post-body ol p,[data-indent="true"] 
.post-body ul p{text-indent:0}[data-indent="true"]
.post-body li ol,[data-indent="true"] .post-body li ul{padding-left:2em}[data-indent="true"] 
.post-body dl{text-indent:2em}[data-indent="true"] 
.post-body dl dd{text-indent:0;margin-left:4em}[data-indent="true"] 
.post-body dl p{text-indent:0}
.post-title{text-align:center}
.post-subtitle{font-size:1.8em;text-align:center;font-weight:700;margin-top:-0.618em}
.post-description{text-align:center;margin:1rem 0;font-size:90%}
.post-body{margin-top:5em !important}
.post-body a{text-decoration:underline;text-decoration-color:var(--color-contrast-low)}
.post-body a:hover{text-decoration-color:hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.5)}
.post p{margin:0 0 1em;line-height:1.618}