body {
     background-color: #f9f9f9;
}

/* header*/
header {
     overflow: hidden;
     background-origin: initial;
     background-clip: initial;
     background-color: initial;
     background-size: cover}
header img {
     max-width:100%;
}
/* Centered text */
.centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.centered a:visited {
     color: #ffffff;
 }
/* Container holding the image and the text */
.container {
     position: relative;
     text-align: center;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

.main.single, .main.list {
     box-sizing: content-box;
     max-width: 740px;
     margin: 0 auto 100px;
     padding: 3.5em 1.75em 0;
}

/* Post */
.list-title,.term-title,.list-year,.list-month,.post-subtitle,.related-title,thead,dt{font-family:"Comfortaa",sans-serif}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{font-family:"Comfortaa",sans-serif}
.post-body p{margin-bottom: 1em}
.post-body .caption{text-indent:0;margin:0 0 1em}[data-indent="true"] 
.post-body blockquote{margin:1em 0;padding:0;border:none}[data-indent="true"] 
.post-body img,[data-indent="true"] 
.post-body video{margin:1em auto}[data-indent="true"] 
.post-body table{margin:1em 0}[data-indent="true"] 
.post-body pre,[data-indent="true"] 
.post-body .highlight{margin:1rem 0}[data-indent="true"] 
.post-body h1,[data-indent="true"] 
.post-body h2,[data-indent="true"] 
.post-body h3,[data-indent="true"] 
.post-body h4,[data-indent="true"] 
.post-body h5,[data-indent="true"] 
.post-body h6{text-align:center}[data-indent="true"] 
.post-body .anchor-link{position:relative;transform:none;display:block;float:none}[data-indent="true"] 
.post-body ol,[data-indent="true"] .post-body ul{margin:0;padding-left:4em}[data-indent="true"] 
.post-body ol p,[data-indent="true"] 
.post-body ul p{text-indent:0}[data-indent="true"]
.post-body li ol,[data-indent="true"] .post-body li ul{padding-left:2em}[data-indent="true"] 
.post-body dl{text-indent:2em}[data-indent="true"] 
.post-body dl dd{text-indent:0;margin-left:4em}[data-indent="true"] 
.post-body dl p{text-indent:0}
.post-title{text-align:left}
.post-description{
     font-style: italic;
     text-align:center;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;}
.post-body {
     margin: 0 0 .875em;
     font-size: 17px;
 }
.post-body a{text-decoration:underline;text-decoration-color:var(--color-contrast-low)}
.post-body a:hover{text-decoration-color:hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.5)}
.post p{margin:0 0 1em;line-height:1.618}

.post-title, .post-subtitle {
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
     color: #306363;
     word-wrap: break-word;
     text-align: left;
}

.post-meta-item.folder {
     color: #287575;
}

.post-meta {
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
     font-size: 14px;
     font-weight: 400;
     font-style: normal;
     margin: .4375em 0 3.5em;
     color: #b3b3b1;
 }

 .post-meta>span {
     top: 3px;
     display: inline-block;
     margin-right: 1.3125em;
     vertical-align: middle;
 }

a, a:visited {
     color: #287575;
     text-decoration: none;
 }

 .post-meta-icon{fill:hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), 0.5);margin-bottom:0.3em}
 .updated-badge-container{margin-top:5em;text-align:center}
 .updated-badge-left{fill:var(--color-contrast-low)}
 .updated-badge-right{fill:hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.5)}
 .post-share{margin-top:5rem;color:hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), 0.8)}
 .post-share a{color:hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), 0.8)}
 .post-share a:hover{color:inherit}.share-items{text-align:center}
 .share-items{text-align:center}.share-item{margin:0 0.5em}.share-item{display:inline-block}.share-item .icon{transition:fill .5s}


 .related-posts{border:1px solid var(--color-contrast-lower);padding:0.6em 1em;line-height:2em;margin-top:5em}
 .related-title{font-size:1em;margin:0}.related-icon{float:right;margin-top:0.4em}
 .related-list{margin:0;padding:0;list-style:none}
 .related-link{line-height:1.5;display:inline-block}
 .post-tags{margin-top:5rem;text-align:center;font-size:90%}
 .post-tags-link{color:hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), 0.9);margin:0 0.5em;line-height:2;display:inline-block}
 .tag-icon{margin-right:0.3em;font-size:80%}
 .icon{width:1em;height:1em;fill:currentColor;display:inline-block}
 svg{vertical-align:middle}
 .icon{margin:0 0.3em 0.2em 0}

.contents{margin-top:5em}

article.home{margin-top:2em}

article {
     line-height: 1.75;
}
.summary-title-link{color:var(--color-contrast-higher)}
.summary{
     line-height:1.618;}
.read-more-container{text-align:center;margin-top:1.618em}
.read-more-link{display:inline-block}
.pagination{list-style:none;margin:5em 0 0;padding:0;display:flex;justify-content:space-between}
.pagination-prev{margin-right:auto}
.pagination-next{margin-left:auto;text-align:right}
.icon{width:1em;height:1em;fill:currentColor;display:inline-block}
.icon{margin:0 0.3em 0.2em 0}
.back-to-top{z-index:1}
.back-to-top a{display:block;padding:1em;color:var(--color-contrast-medium)}
.back-to-top a:hover{color:var(--color-primary)}
.back-to-top.show{bottom:0}
svg{vertical-align:middle}

@media screen and (min-width: 32.375em) {
     .post-body {
     font-size: 19px;
     }
     .post-title .centered h1 {
          font-size: 47px;
     }
}

.footer{
     bottom:0;width:100%;
     font-size:90%;color:var(--color-contrast-medium);
     background-color: #333332;;
}
     .footer a{color:var(--color-contrast-medium)}
     .footer a:hover{color:var(--color-primary)}
     .footer-inner{padding:1em;text-align:center}
     .footer-icon{margin:0 0.25em 0.3em}

     .post-tag-link, .post-category-link {
          display: inline-block;
      }
      
      .post-tag-link, .post-category-link, .post-category {
          color: alpha(var(--color-contrast-medium), 0.9);
      }