<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"><html>
  {{ partial "head.html" . }}
  <body>
    <header>
      <div class="container">
        <img src={{ "header2.jpg" | absURL}}>
        <div class="centered"><h1> <a href="{{ .Site.BaseURL }}" class="summary-title-link">{{ .Site.Title }}</a></h1></div>
      </div>
    </header>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ partial "components/back-to-top.html" . }}
    {{ partial "footer.html" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
  </body>
</html>