{{ define "main" }}
  {{ range .Pages }}
  <main class="main list" id="main">
    <div class="main-inner">  
      <article>
        <h1 class="post-title">
          <a href="{{ .RelPermalink }}" class="summary-title-link">{{ .LinkTitle }}</a>
        </h1>
        <summary class="summary">
          {{ partial "utils/summary.html" . }}
          {{ $summary := .Scratch.Get "summary" }}
          {{ $summary | safeHTML }}
        </summary>
        {{ if .Truncated }}
          <a href="{{ .RelPermalink }}" class="read-more-link">Read More »</a>
        {{ end }}
        {{ if .Params.meta | default .Site.Params.enablePostMeta }}
          {{ partial "components/post-meta.html" (dict "Deliver" . "isHome" false) }}
        {{ end }}
      </article>
    </div>
  </main>
  {{ end }}
{{ end }}