<main class="main single" id="main">
    <div class="main-inner">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
        {{ range $paginator.Pages }}
            <article class="content post home">
                <h2 class="post-title">
                    <a href="{{ .RelPermalink }}" class="summary-title-link">{{ .LinkTitle }}</a>
                </h2>
                <summary class="summary">
                    {{ partial "utils/summary.html" . }}
                    {{ $summary := .Scratch.Get "summary" }}
                    {{ $summary | safeHTML }}
                </summary>
                {{ if .Truncated }}
                    <div class="read-more-container">
                        <a href="{{ .RelPermalink }}" class="read-more-link">Read More »</a>
                    </div>
                {{ end }}
            </article>
        {{ end }}
        {{ if or $paginator.HasPrev $paginator.HasNext }}
            <ul class="pagination">
                {{ if $paginator.HasPrev }}
                    <li class="pagination-prev">
                        <a href="{{ $paginator.Prev.URL }}" rel="prev">Newer</a>
                    </li>
                {{ end }}
                {{ if $paginator.HasNext }}
                    <li class="pagination-next">
                        <a href="{{ $paginator.Next.URL }}" rel="next">Older</a>
                    </li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</main>