{{- $Deliver := . -}}

<main class="main single" id="main">
    <div class="main-inner">
        
        {{- $smallCaps := .Scratch.Get "smallCaps" -}}
        {{- $align := .Scratch.Get "align" -}}
        {{- $type := .Scratch.Get "type" -}}
        {{- $layout := .Scratch.Get "layout" -}}
        {{- $indent := .Scratch.Get "indent" -}}
        {{- $tocNum := .Scratch.Get "tocNum" -}}

        <article
        {{- if $smallCaps }} data-small-caps="true"{{ end }}
        {{- with $align }} data-align="{{ . }}"{{ end }}
        {{- with $type }} data-type="{{ . }}"{{ end }}
        {{- with $layout }} data-layout="{{ . }}"{{ end }}
        {{- if $indent }} data-indent="true"{{ end }}>
            <h1 class="post-title">{{ .Title }}</h1>
            {{ with .Params.subtitle }}
                {{- $raw := . -}}
                {{- partial "utils/markdownify.html" (dict "Deliver" $Deliver "raw" $raw "isContent" false) -}}
                {{- $Content := $Deliver.Scratch.Get "Content" -}}
                <div class="post-subtitle">{{ $Content | safeHTML }}</div>
            {{ end }}

            {{ if .Site.Params.displayPostDescription }}
                {{ with .Params.description }}
                    {{- $raw := . -}}
                    {{- partial "utils/markdownify.html" (dict "Deliver" $Deliver "raw" $raw "isContent" false) -}}
                    {{- $Content := $Deliver.Scratch.Get "Content" -}}
                    <div class="post-description">{{ $Content | safeHTML }}</div>
                {{ end }}
            {{ end }}

            {{- partial "utils/content.html" . -}}
            {{- $Content := .Scratch.Get "Content" -}}
            <div class="post-body">
                {{ .Content }}
            </div>
            {{ if .Params.meta | default .Site.Params.enablePostMeta }}
                {{ partial "components/post-meta.html" (dict "Deliver" . "isHome" false) }}
            {{ end }}
        </article>
        {{ partial "components/post-share.html" . }}

        {{ partial "components/related-posts.html" . }}

    </div>
</main>