<head>
    <meta charset="utf-8">
    <!-- Responsive Web Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {{- block "title" . -}}
        {{ .Site.Title }}
      {{- end -}}
    </title>
    <link rel="stylesheet" href={{ "css/basic.css" | absURL}}>
  
    <!-- Google Analytics-->
    {{ template "_internal/google_analytics.html" . }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166021216-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166021216-2');
</script>

  </head>