{{ define "main" }}
    {{ if (eq .Kind "taxonomy") }}
        <h1 class="post-title">{{ .Title }}</h1>
        {{ range .Pages }}
            <main class="main list" id="main">
                <div class="main-inner">  
                    <article>
                        <h1 class="post-title">
                            <a href="{{ .RelPermalink }}" class="summary-title-link">{{ .LinkTitle }}</a>
                        </h1>
                        <!-- If list of posts-->
                        <summary class="summary">
                            {{ partial "utils/summary.html" . }}
                            {{ $summary := .Scratch.Get "summary" }}
                            {{ $summary | safeHTML }}
                        </summary>
                        {{ if .Truncated }}
                            <a href="{{ .RelPermalink }}" class="read-more-link">Read More »</a>
                        {{ end }}
                        {{ if .Params.meta | default .Site.Params.enablePostMeta }}
                            {{ partial "components/post-meta.html" (dict "Deliver" . "isHome" false) }}
                        {{ end }}
                    </article>
                </div>
            </main>
        {{ end }}
    {{ else }}
    <main class="main list" id="main">
        <div class="main-inner">  
            <article>
                {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
                    <h1 class="post-title">
                        <a href="{{ .Page.Permalink }}">{{ $key | humanize}} ({{ .Count }})</a>
                    </h1>
                    {{ range $taxonomy.Pages }}
                    <h2>
                        <a href="{{ .Permalink}}">{{ .LinkTitle }}</a>
                    </h2>
                        <summary class="summary">
                            {{ partial "utils/summary.html" . }}
                            {{ $summary := .Scratch.Get "summary" }}
                            {{ $summary | safeHTML }}
                        </summary>
                        {{ if .Truncated }}
                            <a href="{{ .RelPermalink }}" class="read-more-link">Read More »</a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </article>
        </div>
    </main>
    {{ end }}
{{ end }}